# NOTE: ローカル環境の接続情報のみ記載してください。
# ステージング・本番環境のシークレット情報は絶対に記載しないでください。
export PORT="3000"
export NODE_ENV="development"
export DATABASE_URL="postgresql://postgres:example@localhost:5438/app_development?schema=public"
